doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  
nav(
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
  )
  
  a(
    class="navbar-brand" 
    href='/'
    name = "CookBook"
    
  ) 
    img(
      src='/images/Cookbook.png'  
      style='width:70px; height:70px;'
    ) 
  a(
    class="navbar-brand" 
    href='/'
    name = "CookBook"
    ) CookBook  
    
    
    



  div(
    class="collapse navbar-collapse" 
    id="navbarNav"
  )
    ul(
      class="navbar-nav"
    )
      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/search/recipe" 
          name = "add Recipe"
        )  Recipes


      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/search/product" 
          name = "add Product"
        ) Products

body

  div.container.listing-reg


    br
    br
    br
         




    block content

    #footer
footer(class="page-footer fixed-bottom font-small blue")
  div(class="footer-copyright text-center py-3") © 2020 Copyright: 
    a(href="https://ecam.be/") Martin and Thomas -- ECAM Brussels