doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  




nav(
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
)
  
  a(
    class="navbar-brand" 
    href='/'
    name = "CookBook"
    
  ) 
    img(
      src='/images/Cookbook.png'  
      style='width:70px; height:70px;'
    ) 
  a(
    class="navbar-brand" 
    href='/'
    name = "CookBook"
    ) CookBook  
    
    
    



  div(
    class="collapse navbar-collapse" 
    id="navbarNav"
  )
    ul(
      class="navbar-nav"
    )
      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/add/recipe" 
          name = "add Recipe"
        ) Add Recipe


      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/add/product" 
          name = "add Product"
        ) Add Product

      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/home" 
          name = "home"
        ) Home

      li(
        class="nav-item active"
      )
        a(
          class="nav-link" 
          href="/register" 
          name = "register"
        ) Registration








body

  div.container.listing-reg


    br
    br
    br
         




    block content

    #footer
      p ©Thomas & Martin
