
extends layout

block content


  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="/addProduct" method="POST" class="form-registration")
    label(for="productname") Product's name:
    input(
      type="text"
      name="name"
      class="form-control"
      required
    )

    label(for="calories") Calories:
    input(
      type="text"
      name="calories"
      class="form-control"
      required
    )
    
    label(for="unity") Unité de mesure :
    input(
      type="text"
      name="unity"
      class="form-control"
      required
    )

    label(for="category") Catégorie :
    input(
      type="text"
      name="category"
      class="form-control"
      required
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )

