
extends layout

block content

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="/addRecipe" method="POST" class="form-registration")
    label(for="recipename") Recipe's name:
    input(
      type="text"
      name="name"
      class="form-control"
      required
    )

    label(for="time") Preparation Time (minutes):
    input(
      type="text"
      name="time"
      class="form-control"
      required
    )
    
    label(for="nutritiveScore") Score nutritif :
    input(
      type="text"
      name="nutritiveScore"
      class="form-control"
      required
    )

    label(for="category") Catégorie :
    select(
      type="dropDown"
      name="category"
      class="form-control"
      required
    )
      each category in ['Breakfast','lunch','supper','desert','snacks']
        option=category


    label(for="time") Preparation Time (minutes):
    input(
      type="text"
      name="time"
      class="form-control"
      required
    )
    
    label(for="nutritiveScore") Score nutritif :
    input(
      type="text"
      name="nutritiveScore"
      class="form-control"
      required
    )

    label(for="category") Catégorie :
    select(
      type="dropDown"
      name="category"
      class="form-control"
      required
    )
      each category in ['Breakfast','lunch','supper','desert','snacks']
        option=category

    label(for="time") Preparation Time (minutes):
    input(
      type="text"
      name="time"
      class="form-control"
      required
    )
    
    label(for="nutritiveScore") Score nutritif :
    input(
      type="text"
      name="nutritiveScore"
      class="form-control"
      required
    )

    label(for="category") Catégorie :
    select(
      type="dropDown"
      name="category"
      class="form-control"
      required
    )
      each category in ['Breakfast','lunch','supper','desert','snacks']
        option=category

    label(for="time") Preparation Time (minutes):
    input(
      type="text"
      name="time"
      class="form-control"
      required
    )
    
    label(for="nutritiveScore") Score nutritif :
    input(
      type="text"
      name="nutritiveScore"
      class="form-control"
      required
    )

    label(for="category") Catégorie :
    select(
      type="dropDown"
      name="category"
      class="form-control"
      required
    )
      each category in ['Breakfast','lunch','supper','desert','snacks']
        option=category

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )

