
extends layout

block content

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  h1 Nouvelle Recette
  form(action="/addRecipe" method="POST" class="form" )
    h2 Informations de base

    label(for="recipename") Recipe's name:
    input(
      type="text"
      name="name"
      class="form-control"
      required
    )

    label(for="totalTime") Total Preparation Time :
    input(
      type="time"
      name="totalTime"
      class="form-control"
      required
    )
    
    label(for="category") Score nutritif :
    select(
      type="dropDown"
      name="nutritiveScore"
      class="form-control"
      required
    )
      each category in ['A','B','C','D']
        option=category

    label(for="category") Catégorie :
    select(
      type="dropDown"
      name="category"
      class="form-control"
      required
    )
      each category in ['Breakfast','Lunch','Supper','Desert','Snacks', 'Other']
        option=category
    
    br
    br

    label(for="cuisson") type de cuisson :
    input(
      type="text"
      name="cuisson"
      class="form-control"
      required
    )
    
    label(for="tCuisson") Temps de cuisson :
    input(
      type="time"
      name="tCuisson"
      class="form-control"
      required
    )

    label(for="imgLink") Lien d'image :
    input(
      type="text"
      name="imgLink"
      class="form-control"
    )
 

    h2 STEPS
    br
    div(id="formulaire")
      label(for="step1") Step 1 :
      input(
        type="text"
        name="steps"
        class="form-control"
        required
      )

      label(for="step2") Step 2 :
      input(
        type="text"
        name="steps"
        class="form-control"
        required
      )   
      
      label(for="step3") Step 3 :
      input(
        type="text"
        name="steps"
        class="form-control"
        required
      )

    button(
      id = "NewStep"
      type = "button"
      class="btn btn-secondary"
    ) New Step
    script(src='/javascript/addRecipe.js')
        
  


    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )

