
extends layout

block content


    div(
        class="collapse navbar-collapse" 
        id="navbarNav"
    )
    
    p Login or Register with:

    a(
        href="/auth/facebook"
        classe="btn btn-primary"
    )
        span(
            class="fa fa-facebook"
        ) Facebook