extends layout
block content
    
    if errors
        ul.my-errors
            for error in errors
                li= error.msg
    
    h3 Recipes :  
        a(href="/add/Recipe")
            button(type="button" class="btn btn-secondary" value="Add Product") Add recipe

    
    form(action="/search/Recipe" method="GET")
        div(class="form-check form-check-inline")
            p Category filter :
        
        div(class="form-check form-check-inline")
            select(
                type="dropDown"
                name="category"
                class="form-control"
            )
                each filter in categories
                    option=filter

        //- div(class="form-check form-check-inline")
        //-     p Nutrition score filter :
        
        //- div(class="form-check form-check-inline")
        //-     select(
        //-         type="dropDown"
        //-         name="nutritiveScore"
        //-         class="form-control"
        //-         required
        //-     )
        //-         each filter in categories
        //-             option=filter
        
        div(class="form-check form-check-inline")
            input(
                type="submit"
                value="Apply filter"
                class="btn btn-secondary"
            )
        

    
    div(class="row")
        div(class="list-group shadow")
            each val in products
                p
                ul(class="list-group shadow")
                    li(class="list-group-item")
                        div(class="media align-items-lg-center flex-column flex-lg-row p-3")
                            <div class="media-body order-2 order-lg-1">

                                h5(class="mt-0 font-weight-bold mb-2")
                                    p=  val.name
                            
                                p(class="font-italic text-muted mb-0 small")= 'Score nutritif : ' + val.nutritiveScore 
                                p(class="font-italic text-muted mb-0 small")= 'Ajouté par : ' + 'on sait pas encore'

                                div(class="d-flex align-items-center justify-content-between mt-1")
                                    h6(class="font-weight-bold my-2")
                                        p= 'Catégorie : ' + val.category
                                
                                div(class="d-flex align-items-center justify-content-between mt-1")
                                    h6(class="font-weight-bold my-2")
                                        p= 'Temps : ' + val.time + ' minutes'
                                
                                a(href="/recipeDetail/" + val._id)
                                    button(type="button" class="btn btn-secondary" value="Add Product") Details
                                    //- ul(class="list-inline small")
                                    //-     each val in [1,2,3,4,5]
                                    //-         li(class="list-inline-item m-0")
                                    //-             i class="fa fa-star text-success"
            
                        img(
                            src="https://i.imgur.com/KFojDGa.jpg" 
                            alt="Generic placeholder image" 
                            height="120" 
                            class="ml-lg-5 order-1 order-lg-2")